{% extends 'baseFront.html.twig' %}

{% block body %}
	<br>
	<br>

	<h1 class="text-center">Mes favoris</h1>
	<br>

	<table class="table table-striped">
		<thead>
			<tr>

				<th scope="col">Nom Evenement</th>
				<th scope="col">description</th>
				<th scope="col">Date de l'Evenement</th>
				<th scope="col">prix de l Evenement</th>
				<th scope="col">Lieu de l Evenement</th>
				<th scope="col">Theme de l Evenement</th>
				<th scope="col">Image</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
                {% for favori in favoris %}
                    <tr>
                        <td>{{ favori.idEvent.nomEvent }}</td>
                        <td>{{ favori.idEvent.descEvent }}</td>
                        <td>{{ favori.idEvent.dateEvent|date('d/m/Y') }}</td>
                        <td>{{ favori.idEvent.prixEvent }}</td>
                        <td>{{ favori.idEvent.lieuEvent }}</td>
                        <td>{{ favori.idEvent.idTheme.nomTheme }}</td>
                        <td><img src="{{ asset(favori.idEvent.image) }}" alt="{{ favori.idEvent.nomEvent }}" width="50"></td>
                        <td>
                            <form method="post" action="{{ path('delete_favorite', {'idEvent': favori.idEvent}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ favori.idEvent) }}">
                                <button class="btn btn-sm bg-danger">
                                    <i class="far fa-trash-alt"></i>
                                    supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}

		</tbody>
	</table>
{% endblock %}
