{% extends 'baseBack.html.twig' %}

{% block title %}New Evenement
{% endblock %}

{% block body %}
	<h4 class="page-title">Ajouter Evenement</h4>


	<style>
		.help-block {
			color: red;
			padding-left: 25px;
			position: relative;
		}
	</style>

	<div class="page-wrapper">
		<div class="content">
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							{{ form_start(form,{'attr': 
       								 {'novalidate': 'novalidate'}}
							) }}
							<div class="row">

								
								<div class="col-12 col-md-6 col-xl-4">
									<div class="form-group local-forms">
										<label>Nom-Event
											<span class="login-danger">*</span>
										</label>
										{{ form_widget(form.nomEvent, {attr:{'class':'form-control'}}) }}
										<div class="help-block">
											{{ form_errors(form.nomEvent) }}
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6 col-xl-4">
									<div class="form-group local-forms">
										<label>description
											<span class="login-danger">*</span>
										</label>
										{{ form_widget(form.descEvent, {attr:{'class':'form-control'}}) }}
										<div class="help-block">
											{{ form_errors(form.descEvent) }}
										</div>
									</div>
								</div>


								<div class="col-12 col-md-6 col-xl-4">
									<div class="form-group local-forms">
										<label>
											Le lieu de l'Evenement
											<span class="login-danger">*</span>
										</label>
										{{ form_widget(form.lieuEvent, {attr:{'class':'form-control'}}) }}
										<div class="help-block">
											{{ form_errors(form.lieuEvent) }}
										</div>

									</div>
								</div>
								<div class="col-12 col-md-6 col-xl-4">
									<div class="form-group local-forms">
										<label>
											La date de l'Evenement
											<span class="login-danger">*</span>
										</label>
										{{ form_widget(form.dateEvent,{'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'dateEvent'}}  ) }}
										<div class="help-block">
											{{ form_errors(form.dateEvent) }}
										</div>

									</div>
								</div>
								<div class="col-12 col-md-6 col-xl-4">
									<div class="form-group local-forms">
										<label>
											La prix de l'Evenement
											<span class="login-danger">*</span>
										</label>
										{{ form_widget(form.prixEvent, {attr:{'class':'form-control'}}) }}
										<div class="help-block">
											{{ form_errors(form.prixEvent) }}
										</div>

									</div>
								</div>
								<div class="col-12 col-md-6 col-xl-4">
									<div class="form-group local-forms">
										<label>image
											<span class="login-danger">*</span>
										</label>
										{{ form_widget(form.image, {attr:{'class':'form-control'}}) }}
										<div class="help-block">
											{{ form_errors(form.image) }}
										</div>
									</div>
								</div>
                                <div class="col-12 col-md-6 col-xl-4">
									<div class="form-group local-forms">
										<label>Theme
											<span class="login-danger">*</span>
										</label>
										{{ form_widget(form.idTheme, {attr:{'class':'form-control'}}) }}
										<div class="help-block">
											{{ form_errors(form.idTheme) }}
										</div>
									</div>
								</div>

								<div class="col-12">
									<div class="doctor-submit text-end">
										<div class="text-right">
											<button class="btn btn-primary btn-add" style="width:120px">
												{{ button_label|default('Save') }}
											</button>
										</div>
									</div>
								</div>

								&nbsp;

								<div class="col-12">
									<div class="doctor-submit text-end">
										<div class="text-right">
											<a class="btn btn-primary btn-add" style="width:120px" href="{{ path('app_event_index') }}">back to list</a>
										</div>
									</div>
								</div>
							</div>
							{{ form_end(form) }}
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
{% endblock %}