

<!DOCTYPE html>
<html>

	<head>
    <title>
{% block title %}Register{% endblock %}

    </title>
 {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    		<link rel="shortcut icon" href="{{ asset('assets/back/images/ktebi1.png') }}">

		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">


		{% block javascripts %}

			<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

		{% endblock %}
	</head>

	<body>
   
		<div class="container-fluid px-1 py-5 mx-auto">
			<div class="row d-flex justify-content-center">
				<div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
					<div class="card">
						<div class="card-body">
						   <a href="{{path('app_home')}}"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" style="float:right" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
  <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
</svg></a>
							<div class="d-flex justify-content-center py-4">
								<a href="index.html" class="logo d-flex align-items-center w-auto">
									<img src="assets/back/images/ktebi1.png" class="pulse" alt="" width="120" height="120">
								</a>
							</div>
							<h2 class="mb-4">Sign up</h2>

							{{ form_start(registrationForm) }}
							<div class="row justify-content-between text-left">
								<div class="form-group col-sm-6 flex-column d-flex">
									<label class="form-control-label px-3">Nom<span class="text-danger">
											*</span>
									</label>
									{{ form_widget(registrationForm.Nom,{'attr':{'class':'form-control'}})}}

								</div>
								<div class="form-group col-sm-6 flex-column d-flex">
									<label class="form-control-label px-3">Prenom<span class="text-danger">
											*</span>
									</label>
									{{ form_widget(registrationForm.Prenom,{'attr':{'class':'form-control'}})}}
								</div>
							</div>
							<div class="row justify-content-between text-left">
								<div class="form-group col-sm-6 flex-column d-flex">
									<label class="form-control-label px-3">Email<span class="text-danger">
											*</span>
									</label>
									{{ form_widget(registrationForm.email,{'attr':{'class':'form-control'}})}}
								</div>
								<div class="form-group col-sm-6 flex-column d-flex">
									<label class="form-control-label px-3">Date de Naissance <span class="text-danger">*</span></label>
									{{ form_widget(registrationForm.datedenaissance,{'attr':{'class':'form-control', 'type':'date', 'max': 'today'}}) }}
								</div>
								<div class="form-group col-sm-6 flex-column d-flex">
									<label class="form-control-label px-3">Numéro téléphone <span class="text-danger">
											*</span>
									</label>
									{{ form_widget(registrationForm.tel,{'attr':{'class':'form-control'}})}}
								</div>
								<div class="form-group col-sm-6 flex-column d-flex">
									<label class="form-control-label px-3">Adresse<span class="text-danger">
											*</span>
									</label>
									{{ form_widget(registrationForm.adresse,{'attr':{'class':'form-control'}})}}
								</div>
							</div>
							<div class="row justify-content-between text-left">

								<div class="form-group col-sm-6 flex-column d-flex">
									<label class="form-control-label px-3">Mot de passe<span class="text-danger">
											*</span>
									</label>
									{{ form_widget(registrationForm.password,{'attr':{'class':'form-control'}})}}
								</div>
							</div>
							{# <div class="row justify-content-between text-left">
								<div class="form-group col-sm-6 flex-column d-flex">
									<label class="form-control-label px-3">Roles<span class="text-danger">
											*</span>
									</label>
									
								</div>
							</div> #}

								
									

							</div>
							{% set formErrors = registrationForm.vars.errors.form.getErrors(true) %}
							
								{% if formErrors|length %}
									<div class="alert alert-danger">
									<ul>
										{% for error in formErrors %}
											<li>{{ error.message }}</li>
										{% endfor %}
									</ul>
									</div>
								{% endif %}
							
							
							
							{#<div class="form-group col-sm-6 flex-column d-flex">
									<label class="form-control-label px-3">Captcha<span class="text-danger">
											*</span>
									</label>
									{{ form_widget(registrationForm.captcha,{'attr':{'class':'form-control'}})}}
									{{ form_errors(registrationForm.captcha) }}
								</div>#}
								
							<div class="row justify-content-center">
								<div class="form-group col-sm-6">
									<button type="submit" class="btn-block btn-primary">S'inscrire</button>
								</div>
							</div>
							{{ form_end(registrationForm) }}
						</div>
					</div>
				</div>
			</div>
		</div>
		</body>

</html>
