{% extends 'baseBack.html.twig' %}

{% block title %}Users list{% endblock %}

{% block body %}
	<h4 class="page-title">Utilisateurs</h4>
<div class="main-panel">
    <div class="content-wrapper">
        
    <div class="row ">
        <div class="col-12 grid-margin">
            <div class="card">
            
                <div class="card-body">
                    <div style="display: flex">
                        <div class="col-md-5">
                        </div>
                        <form method="post" class="forms-sample" style="margin-left: -42px" >
                            <div class="form-group col-md-4" style="display: flex; width: 100%!important; margin: 0px!important;">
                                <div class="form-check">
                                    <label class="form-check-label" style="width: 86px;margin-left: -2px;margin-right: 10px;">
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label" style="width: 86px;margin-left: -2px;margin-right: 10px;">
                                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="Nom" >Nom</label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label" style="width: 86px;margin-left: -2px;margin-right: 10px;">
                                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="Telephone" >Telephone</label>
                                </div>
                                 
                                <button type="Submit" class="btn btn-success btn-fw" style="margin: auto; ">Sort</button>
                            </div>
                        </form>

                    </div>

                    <ul class="navbar-nav w-100" style="margin-top: 18px;">
                        <li class="nav-item w-100">
                            <form name="Search-method" id="Search-method"method="post" class="forms-sample" style="display: flex">
                                <div class="form-group col-md-5">
                                    <label style="margin-top: 11px;margin-left: 10px;margin-right: 14px;padding-bottom: 7px;;">Option Recherche</label>
                                    <select name="optionsearch" class="js-example-basic-single" style="width: 200px;height: 38px; color: white; background-color: #191c24; border-radius: 4px;text-align: center;border: 2px solid #0090e7;margin-right: 15px;">
                                        <option value="">Choisi un Critére</option>
                                        <option value="Nom">Nom</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="input-group" >
                                        <input name="Search" type="text" class="form-control" placeholder="Search " aria-label="Recipient's username" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-sm btn-primary" type="Submit">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                    <table class="table table-striped">
                        <thead>
            <tr>
                <th>Email</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Etat </th>
                <th>datedenaissance</th>
                <th>Adresse</th>

                <th>Roles</th>
                
                <th style="width:200px;">actions</th>

            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.Nom }}</td>
                <td>{{ user.Prenom }}</td>
                <td>{{ user.tel }}</td>
                                <td>{{ user.status }}</td>

                <td>{{ user.datedenaissance ? user.datedenaissance|date('Y-m-d') : '' }}</td>

                <td>{{ user.adresse }}</td>




                <td>{{ user.idRole.role }}</td>

                <td>
                    <a  class="btn btn-success" style="display: flex;flex-direction: row;justify-content: center; margin:10px;" href="{{ path('app_user_show', {'idUser': user.idUser}) }}">Afficher</a>
                    <a  class="btn btn-warning" style="display: flex;flex-direction: row;justify-content: center; margin:10px;" href="{{ path('app_user_edit', {'idUser': user.idUser}) }}">Modifier</a>
                    
                     <a href="{{ path('app_desactiver', {'idUser': user.idUser}) }}" class="btn btn-danger" style="display: flex;flex-direction: row;justify-content: center;margin:10px;">Désactiver</a>
                    
                    <a href="{{ path('app_activer', {'idUser': user.idUser}) }}" class="btn btn-info " style="display: flex;flex-direction: row;justify-content: center; margin:10px;">Activer</a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
                        <tfoot>
                        <tr>
                            <td>
                            </td>
                        </tr>
                        </tfoot>
    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}
