{% extends 'baseBack.html.twig' %}

{% block title %}
	Ktebi Home
{% endblock %}


{% block body %}
	<h4 class="page-title">Promos</h4>


	{% block content %}

		<div
			class="content">

			<!-- Start Content-->
			<div class="container-fluid">
				{% if app.flashes('success')|length > 0 %}
					<div class="alert alert-primary" role="alert">
						<i class="mdi mdi-check-all mr-2"></i>
						La promotion a été ajoutée avec
						<strong>succès</strong>
					</div>
				{% endif %}
				{% if app.flashes('success1')|length > 0 %}
					<div class="alert alert-success1" role="alert">
						<i class="mdi mdi-check-all mr-2"></i>
						La promotion a été modifiée avec
						<strong>succès</strong>
					</div>
				{% endif %}
				{% if app.flashes('danger')|length > 0 %}
					<div class="alert alert-danger" role="alert">
						<i class="mdi mdi-check-all mr-2"></i>
						La promotion a été supprimée avec
						<strong>succès</strong>
					</div>
				{% endif %}

				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<div class="row mb-2">
									<div class="col-sm-4">
										<a href="{{ path('add_promo')}}" class="btn btn-danger waves-effect waves-light">
											<i class="mdi mdi-plus-circle mr-1"></i>
											Ajouter Promo
										</a>
									</div>
									<div class="col-sm-4">
										<form method="get" action="{{ path('search_promo') }}" class="input-group">
											<input type="text" class="form-control" name="query" placeholder="Rechercher ici ...">
											<button type="submit" class="btn btn-primary">Rechercher</button>
										</form>
									</div>
									<div class="col-sm-4">
										<form action="{{ path('tri_promo') }}" method="get" class="form-group">
											<select name="sort" class="form-control" onchange="this.form.submit()">
												<option value="asc">Tri Ascendant</option>
												<option value="desc">Tri Descendant</option>
											</select>
										</form>
									</div>
								</div>

								{% if promos|length > 0 %}
									<div class="table-responsive">
										<table class="table table-centered table-nowrap table-striped" id="products-datatable">
											<thead>
												<tr>
													<th>Code</th>
													<th>Reduction</th>
													<th>Date Debut</th>
													<th>Date Fin</th>
													<th style="width: 85px;">Actions</th>
												</tr>
											</thead>
											<tbody>
												{% for promo in promos %}
													<tr>

														<td>
															{{ promo.code }}
														</td>
														<td>
															{{ promo.reduction }}
														</td>
														<td>
															{{ promo.dateDebut ? promo.dateDebut|date('Y-m-d') : '' }}
														</td>
														<td>
															{{ promo.dateFin ? promo.dateFin|date('Y-m-d') : '' }}
														</td>
														<td>
															<a href="{{ path('detail_promo', {'id': promo.id}) }}" class="action-icon">
																<i class="mdi mdi-information-outline"></i>
															</a>
															<a href="{{ path('edit_promo', {'id': promo.id}) }}" class="action-icon">
																<i class="mdi mdi-square-edit-outline"></i>
															</a>
															<a href="{{ path('delete_promo', {'id': promo.id}) }}" class="action-icon" onclick="validateSubmit()">
																<i class="mdi mdi-delete"></i>
															</a>
														</td>
													</tr>
												{% else %}
													<tr>
														<td colspan="6">no records found</td>
													</tr>
												{% endfor %}

											</tbody>
										</table>
									</div>
								{% else %}
									<div class="alert alert-warning" role="alert">
										Aucune promotion trouvé.
									</div>
								{% endif %}


							</div>
							<!-- end card-body-->
						</div>
						<!-- end card-->
					</div>
					<!-- end col -->
				</div>
				<!-- end row -->

			</div>
			<!-- container -->


		</div>
		<script>
			function validateSubmit() {
result = confirm("Êtes-vous sur de vouloir supprimer l'article ?");
if (result) {
$('#form').submit();


}
}
		</script>

	{% endblock %}
{% endblock %}
